.самый_вверх {
    border-bottom: 5px solid red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.меню {
    text-align: center;
    font-size: 18px;
    color: blue;
}

.меню li:hover {
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.header__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 5s ease-in-out;
}

.header__img:hover {
    transform: scale(2);
}

.lk--button:hover{
    font-size: 20px;
}