* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    margin-bottom: 20rem;
}

button {
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 0 !important;
}

.снежинки__контейнер {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(255, 255, 255, 0.8); */
    z-index: 9999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.снежинка {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: падение 3s linear infinite;
}

@keyframes падение {
    0% {
        transform: translateY(-10vh);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* Разброс снежинок */
.снежинка:nth-child(odd) {
    width: 8px;
    height: 8px;
    animation-duration: 2.8s;
}

.снежинка:nth-child(even) {
    width: 12px;
    height: 12px;
    animation-duration: 3.2s;
}

.снежинка:nth-child(3n) {
    width: 15px;
    height: 15px;
    animation-duration: 3.5s;
}
